                        html,
                        body {
                            overflow-x: hidden;
                        }
                        
                        body {
                            margin: 0;
                            padding: 0px 0px;
                            font-family: 'Molengo', sans-serif;
                        }
                        
                        .one {
                            padding: 20px 40px;
                        }
                        
                        .navbar {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        
                        .navbar img {
                            width: 190px;
                            padding-top: 5px;
                            padding-left: 40px;
                        }
                        
                        ul {
                            list-style-type: none;
                            padding-left: 300px;
                        }
                        
                        .nav-button a {
                            text-decoration: none;
                            color: #525252;
                        }
                        
                        .nav-button a:hover {
                            border-radius: 6px;
                            padding: 10px 18px;
                            background: #f7b5bb;
                            transition: all ease 0.5s;
                        }
                        
                        ul li {
                            display: inline-block;
                            font-size: 18px;
                            font-weight: 500;
                            padding: 0px 40px;
                        }
                        
                        .sb {
                            padding-left: 250px;
                        }
                        
                        .search-button {
                            padding: 20px 18px;
                            background-color: #525252;
                            border: none;
                            border-radius: 6px;
                            size: 18px;
                        }
                        
                        .search-button:hover {
                            background-color: #f88e99;
                            transition: all ease 0.3s;
                        }
                        
                        .cb {
                            padding-right: 20px;
                        }
                        
                        .cart-button {
                            padding: 18px 28px;
                            background-color: #f88e99;
                            color: white;
                            border: none;
                            border-radius: 6px;
                            font-size: 18px;
                        }
                        
                        .cart-button:hover {
                            background-color: #525252;
                            transition: all ease 0.3s;
                        }
                        
                        .shop {
                            padding-left: 5px;
                        }
                        
                        .two {
                            color: rgb(204, 204, 204);
                        }
                        
                        .flower2 {
                            position: absolute;
                            width: 320px;
                        }
                        
                        .hero-left p {
                            position: absolute;
                        }
                        
                        .text1 {
                            font-size: 25px;
                            color: #f88e99;
                            text-transform: uppercase;
                            font-weight: 500;
                            padding-left: 100px;
                            padding-top: 130px;
                            letter-spacing: 1px;
                        }
                        
                        .text2 {
                            font-size: 90px;
                            color: #474747;
                            text-transform: capitalize;
                            font-weight: 500;
                            padding-left: 100px;
                            padding-top: 130px;
                            letter-spacing: 1px;
                        }
                        
                        .leaf {
                            width: 130px;
                            position: absolute;
                            padding-left: 800px;
                            padding-top: 140px;
                        }
                        
                        .vl {
                            margin-top: 580px;
                            margin-left: 100px;
                            border-left: 3px solid #f88e99;
                            height: 63px;
                        }
                        
                        .details {
                            font-size: 20px;
                            padding-left: 120px;
                            padding-top: 570px;
                            color: #757575;
                            position: absolute;
                        }
                        
                        .explore {
                            padding: 25px 25px;
                            background-color: #f88e99;
                            position: relative;
                            margin-left: 100px;
                            margin-top: 690px;
                            border-radius: 40px;
                            border: 1px solid transparent;
                            text-transform: uppercase;
                        }
                        
                        .explore a {
                            text-decoration: none;
                            color: white;
                            font-size: 20px;
                        }
                        
                        .explore:hover {
                            background-color: #818080;
                            transition: all ease 0.4s;
                        }
                        
                        .play {
                            background-color: transparent;
                            border: 1px solid transparent;
                        }
                        
                        .play i {
                            width: 30px;
                        }
                        
                        .play a {
                            text-decoration: none;
                            padding: 25px 30px;
                            font-size: 18px;
                            color: #414040;
                            text-transform: uppercase;
                        }
                        
                        .play:hover {
                            border: 2px solid #f09fa7;
                            transition: all ease 0.4s;
                            padding: 20px 25px;
                            border-radius: 40px;
                        }
                        
                        .two {
                            display: flex;
                        }
                        
                        .bg {
                            margin-top: 55px;
                            margin-left: 400px;
                            width: 830px;
                        }
                        
                        .overlapthis {
                            width: 790px;
                            position: absolute;
                            margin-top: 38px;
                            margin-left: 450px;
                        }
                        
                        .flower {
                            width: 300px;
                            position: absolute;
                            margin-top: 600px;
                            margin-left: 830px;
                        }
                        
                        .leaf-right {
                            width: 500px;
                            position: absolute;
                            margin-top: 380px;
                            margin-left: 880px;
                        }
                        
                        .pad {
                            padding-bottom: 250px;
                        }
                        
                        .price-tag {
                            margin-top: 219px;
                            padding: 15px 30px;
                            background-color: #f88e99;
                            border: none;
                            border-radius: 35px;
                            line-height: 10px;
                            position: absolute;
                            margin-left: 31px;
                            text-align: center;
                        }
                        
                        .number {
                            color: white;
                            font-size: 40px;
                        }
                        
                        .text {
                            color: white;
                            font-size: 20px;
                        }
                        
                        .pata {
                            position: absolute;
                            width: 700px;
                            margin-top: 68px;
                        }
                        
                        .dibba {
                            position: absolute;
                            width: 700px;
                            margin-top: 68px;
                        }
                        
                        .second-left {
                            margin-top: 100px;
                        }
                        
                        .three-one {
                            margin-left: 150px;
                        }
                        
                        .three {
                            display: flex;
                            padding-bottom: 50px;
                        }
                        
                        .three-two {
                            margin-left: 900px;
                            margin-top: 221px;
                        }
                        
                        .t1 {
                            font-size: 25px;
                            color: #f88e99;
                            text-overflow: none;
                            text-transform: uppercase;
                            font-weight: 20px;
                        }
                        
                        .t2 {
                            font-size: 60px;
                            text-transform: capitalize;
                            font-weight: 50px;
                            color: #474747;
                        }
                        
                        .t3 {
                            font-size: 20px;
                            color: #6b6b6b;
                            font-weight: bold;
                        }
                        
                        .t4 {
                            font-size: 20px;
                            color: #696969;
                        }
                        
                        .vl2 {
                            margin-top: 20px;
                            margin-left: 0px;
                            border-left: 3px solid #f88e99;
                            height: 63px;
                            position: absolute;
                        }
                        
                        .details2 {
                            font-size: 20px;
                            color: #757575;
                            margin-top: 25px;
                            margin-left: 20px;
                            position: absolute;
                        }
                        
                        .autograph {
                            position: absolute;
                            margin-left: 350px;
                            margin-top: 30px;
                            width: 200px;
                        }
                        
                        .flower3 {
                            position: absolute;
                            width: 470px;
                        }
                        
                        .tas1 {
                            font-size: 25px;
                            color: #f88e99;
                            text-overflow: none;
                            text-transform: uppercase;
                            font-weight: 20px;
                        }
                        
                        .tas2 {
                            font-size: 60px;
                            text-transform: capitalize;
                            font-weight: 50px;
                            color: #474747;
                        }
                        
                        .four-two {
                            position: relative;
                            margin-top: 150px;
                            text-align: center;
                            left: 420px;
                        }
                        
                        .tas3 {
                            color: #474747;
                            font-size: 18px;
                        }
                        
                        .four {
                            display: flex;
                        }
                        
                        .card {
                            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                            width: 539px;
                            height: 680px;
                            border-radius: 50px;
                            margin-top: 30px;
                            margin-left: 90px;
                            text-align: center;
                        }
                        
                        .card:hover {
                            border: 3px solid #f88e99;
                            transition: all ease 0.3s;
                        }
                        
                        .sale {
                            width: 65px;
                            height: 65px;
                            background-color: #f88e99;
                            border-radius: 35px;
                            color: white;
                            position: absolute;
                            text-align: center;
                            background-color: #f88e99;
                            border: none;
                            margin-left: 360px;
                            margin-top: 30px;
                        }
                        
                        .image {
                            width: 380px;
                            height: 400px;
                            margin-top: 30px;
                        }
                        
                        .head {
                            font-size: 25px;
                            font-weight: bold;
                            color: #474747;
                        }
                        
                        .price {
                            color: #7e7e7e;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        
                        .add {
                            padding: 18px 25px;
                            background-color: #f88e99;
                            position: relative;
                            border-radius: 30px;
                            border: 1px solid transparent;
                            text-transform: uppercase;
                            margin-top: 20px;
                        }
                        
                        .add a {
                            text-decoration: none;
                            color: white;
                            font-size: 18px;
                        }
                        
                        .add:hover {
                            background-color: #818080;
                            transition: all ease 0.3s;
                        }
                        
                        .card2 {
                            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                            width: 539px;
                            height: 680px;
                            border-radius: 50px;
                            margin-top: 30px;
                            margin-left: 30px;
                            text-align: center;
                        }
                        
                        .card2:hover {
                            border: 3px solid #f88e99;
                            transition: all ease 0.3s;
                        }
                        
                        .sale2 {
                            width: 65px;
                            height: 65px;
                            background-color: #f88e99;
                            border-radius: 35px;
                            color: white;
                            position: absolute;
                            text-align: center;
                            background-color: #f88e99;
                            border: none;
                            margin-left: 360px;
                            margin-top: 30px;
                        }
                        
                        .image2 {
                            width: 380px;
                            height: 400px;
                            margin-top: 30px;
                        }
                        
                        .head2 {
                            font-size: 25px;
                            font-weight: bold;
                            color: #474747;
                        }
                        
                        .price2 {
                            color: #7e7e7e;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        
                        .add2 {
                            padding: 18px 25px;
                            background-color: #f88e99;
                            position: relative;
                            border-radius: 30px;
                            border: 1px solid transparent;
                            text-transform: uppercase;
                            margin-top: 20px;
                        }
                        
                        .add2 a {
                            text-decoration: none;
                            color: white;
                            font-size: 18px;
                        }
                        
                        .add2:hover {
                            background-color: #818080;
                            transition: all ease 0.4s;
                        }
                        
                        .card3 {
                            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                            width: 539px;
                            height: 680px;
                            border-radius: 50px;
                            margin-top: 30px;
                            margin-left: 30px;
                            text-align: center;
                        }
                        
                        .card3:hover {
                            border: 3px solid #f88e99;
                            transition: all ease 0.3s;
                        }
                        
                        .sale3 {
                            width: 65px;
                            height: 65px;
                            background-color: #f88e99;
                            border-radius: 35px;
                            color: white;
                            position: absolute;
                            text-align: center;
                            background-color: #f88e99;
                            border: none;
                            margin-left: 360px;
                            margin-top: 30px;
                        }
                        
                        .image3 {
                            width: 380px;
                            height: 400px;
                            margin-top: 30px;
                        }
                        
                        .head3 {
                            font-size: 25px;
                            font-weight: bold;
                            color: #474747;
                        }
                        
                        .price3 {
                            color: #7e7e7e;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        
                        .add3 {
                            padding: 18px 25px;
                            background-color: #f88e99;
                            position: relative;
                            border-radius: 30px;
                            border: 1px solid transparent;
                            text-transform: uppercase;
                            margin-top: 20px;
                        }
                        
                        .add3 a {
                            text-decoration: none;
                            color: white;
                            font-size: 18px;
                        }
                        
                        .add3:hover {
                            background-color: #818080;
                            transition: all ease 0.4s;
                        }
                        
                        .products {
                            display: flex;
                            margin-bottom: 180px;
                        }
                        
                        .card3 {
                            position: relative;
                        }
                        
                        .nich-pata {
                            position: absolute;
                            width: 500px;
                            margin-left: 1400px;
                            margin-top: 300px;
                        }
                        
                        .card-four {
                            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
                            width: 490px;
                            height: 750px;
                            border-radius: 70px;
                            margin-top: 30px;
                            margin-left: 30px;
                            text-align: center;
                            margin-bottom: 30px;
                        }
                        
                        .card-four-one {
                            width: 443px;
                            height: 725px;
                            border-radius: 70px;
                            margin-left: 20px;
                            text-align: center;
                            border: 3px solid #f88e99;
                        }
                        
                        .card-four,
                        .card-four-one {
                            position: relative;
                        }
                        
                        .card-four-one p {
                            text-align: left;
                            margin-left: 40px;
                            text-transform: capitalize;
                        }
                        
                        .image-card {
                            width: 360px;
                            margin-top: 70px;
                        }
                        
                        .fhead-card {
                            font-size: 26px;
                            font-weight: bold;
                            color: #474747;
                        }
                        
                        .fhead-t1 {
                            color: #7e7e7e;
                            font-size: 20px;
                            font-weight: bold;
                        }
                        
                        .fhead-t2 {
                            color: #7e7e7e;
                            font-size: 20px;
                            font-weight: bold;
                        }
                        
                        .fhead-t3 {
                            color: #7e7e7e;
                            font-size: 20px;
                            font-weight: bold;
                        }
                        
                        .five-one {
                            display: flex;
                            margin-left: 40px;
                        }
                        
                        .five-two {
                            margin-left: 100px;
                            margin-top: 0px;
                        }
                        
                        .tf1 {
                            font-size: 23px;
                            color: #f88e99;
                            text-overflow: none;
                            text-transform: uppercase;
                            font-weight: 20px;
                        }
                        
                        .tf2 {
                            font-size: 60px;
                            text-transform: capitalize;
                            font-weight: 50px;
                            color: #474747;
                        }
                        
                        .tf3 {
                            font-size: 18px;
                            color: #6b6b6b;
                        }
                        
                        .body-scrub {
                            width: 760px;
                            position: absolute;
                            margin: 270px 429px;
                        }
                        
                        .customers {
                            width: 250px
                        }
                        
                        .reviews {
                            position: absolute;
                            margin: 436px 1220px;
                            margin-right: 50px;
                        }
                        
                        .five {
                            display: flex;
                            margin-bottom: 200px;
                        }
                        
                        .tff1 {
                            font-size: 25px;
                            text-transform: capitalize;
                            font-weight: 25px;
                            color: #474747;
                        }
                        
                        .count {
                            font-size: 20px;
                            color: #6b6b6b;
                        }
                        
                        .tff2 {
                            font-size: 20px;
                            color: #6b6b6b;
                        }
                        
                        .imagebg {
                            width: 600px;
                            position: absolute;
                            margin-top: 177px;
                        }
                        
                        .imageovl {
                            width: 700px;
                            position: absolute;
                            margin-left: 133px;
                        }
                        
                        .six {
                            display: flex;
                            padding-bottom: 70px;
                        }
                        
                        .six-one {
                            margin-left: 100px;
                            display: inline-block
                        }
                        
                        .st1 {
                            font-size: 60px;
                            text-transform: capitalize;
                            font-weight: 50px;
                            color: #474747;
                        }
                        
                        .six-two {
                            margin-left: 900px;
                            margin-top: 150px;
                        }
                        
                        .st2 {
                            font-size: 20px;
                            font-weight: bold;
                            color: #474747;
                        }
                        
                        .st3 {
                            font-size: 20px;
                            font-weight: bold;
                            color: #f88e99;
                        }
                        
                        .st4 {
                            font-size: 20px;
                            color: #6b6b6b;
                        }
                        
                        .shop1 {
                            padding: 28px 40px;
                            background-color: #ff7684;
                            position: relative;
                            border-radius: 40px;
                            border: 1px solid transparent;
                            text-transform: uppercase;
                            margin-top: 20px;
                        }
                        
                        .shop1 a {
                            text-decoration: none;
                            color: white;
                            font-size: 20px;
                        }
                        
                        .shop1:hover {
                            background-color: #818080;
                            transition: all ease 0.4s;
                        }
                        
                        .shop-now {
                            margin-left: 8px;
                        }
                        /* 
                        
                        
                        second card section
                        
      
                    
                        */
                        
                        .leaf-two {
                            width: 350px;
                            position: absolute;
                        }
                        
                        .nich-pata2 {
                            position: absolute;
                            width: 500px;
                            margin-left: 1400px;
                            margin-top: 300px;
                        }
                        
                        .eight-two {
                            margin-bottom: 150px;
                        }
                        
                        .eight-one {
                            margin-top: 150px;
                            text-align: center;
                        }
                        
                        .tas4 {
                            color: #474747;
                            font-size: 18px;
                        }
                        
                        .eight-two {
                            width: 1730px;
                            border-radius: 70px;
                            margin-left: 80px;
                            margin-top: 50px;
                            border: 3px solid #f88e99;
                        }
                        
                        .img8-one {
                            width: 700px;
                            margin: 30px 30px;
                            border-radius: 40px 40px 0 0;
                        }
                        
                        .img8-two {
                            width: 220px;
                            border-radius: 20px;
                            height: 200px;
                            object-fit: cover;
                            margin-top: 20px;
                        }
                        
                        .t8-one {
                            font-size: 25px;
                            text-transform: capitalize;
                            font-weight: bold;
                            color: #474747;
                        }
                        
                        .t8-two {
                            font-size: 18px;
                            color: #686868;
                        }
                        
                        .read1 {
                            color: #f88e99;
                            font-size: 18px;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                        
                        .t8-zero {
                            margin-left: 80px;
                        }
                        
                        .t8-three {
                            font-size: 14px;
                            color: #cacaca;
                            padding-top: 20px;
                            text-transform: capitalize;
                        }
                        
                        .t8-four {
                            font-size: 14px;
                            color: #8b8b8b;
                            padding-top: 20px;
                            text-transform: capitalize;
                        }
                        
                        .sec1,
                        .sec2,
                        .sec3 {
                            display: flex;
                        }
                        
                        .sec_dot10 {
                            margin-left: 30px;
                        }
                        
                        .eight-two {
                            display: flex;
                        }
                        
                        .card-eight-p2 {
                            margin-top: 20px;
                        }
                        
                        .e1 {
                            font-size: 60px;
                            color: #474747;
                            text-transform: capitalize;
                            font-weight: 500;
                            padding-left: 100px;
                            padding-top: 175px;
                            letter-spacing: 1px;
                        }
                        
                        .bg1 {
                            margin-top: 155px;
                            margin-left: 1115px;
                            width: 630px;
                        }
                        
                        .overlapthis1 {
                            width: 827px;
                            position: absolute;
                            margin-top: 160px;
                            margin-left: 1006px;
                        }
                        
                        .leaf-right1 {
                            width: 500px;
                            position: absolute;
                            margin-top: 420px;
                            margin-left: 1400px;
                        }
                        
                        .details1 {
                            font-size: 20px;
                            padding-left: 120px;
                            padding-top: 310px;
                            color: #757575;
                            position: absolute;
                        }
                        
                        .e2 {
                            font-size: 27px;
                            color: #f88e99;
                            text-transform: uppercase;
                            font-weight: 500;
                            padding-left: 100px;
                            padding-top: 150px;
                            letter-spacing: 1px;
                        }
                        
                        .arrow {
                            position: absolute;
                            margin-top: 450px;
                            padding-left: 150px;
                            text-transform: capitalize;
                            display: flex;
                        }
                        
                        .art {
                            font-size: 25px;
                            color: #f88e99;
                            margin-left: 10px;
                        }
                        
                        .about {
                            font-size: 20px;
                            margin-left: 20px;
                            margin-top: 80px;
                            color: #757575;
                            position: absolute;
                        }
                        
                        .arrow2 {
                            position: absolute;
                            margin-top: 720px;
                            padding-left: 150px;
                            text-transform: capitalize;
                            display: flex;
                        }
                        
                        .arrow3 {
                            position: absolute;
                            margin-top: 770px;
                            padding-left: 150px;
                            text-transform: capitalize;
                            display: flex;
                        }
                        
                        .ar2t {
                            font-size: 25px;
                            color: #474747;
                            margin-left: 10px;
                            font-weight: bold;
                        }
                        
                        .two-second {
                            margin-bottom: 150px;
                        }
                        /* 
                        
                        footer section 
                        
                        */
                        
                        .footer-bg {
                            background-color: rgb(32, 32, 32);
                            padding-bottom: 60px;
                        }
                        
                        .foot-t1 {
                            font-size: 20px;
                            color: white;
                        }
                        
                        .hd {
                            color: white;
                            font-size: 30px;
                            text-transform: capitalize;
                        }
                        
                        .fs-2t {
                            display: flex;
                            line-height: 0.1px;
                        }
                        
                        .f-s {
                            margin-left: 125px;
                            display: flex;
                        }
                        
                        .abt {
                            color: white;
                            font-size: 18px;
                            text-transform: capitalize;
                            margin-left: 10px;
                        }
                        
                        .check1 {
                            margin-top: 10px;
                        }
                        
                        .footer-section2 {
                            margin-left: 130px;
                        }
                        
                        .footer-section3 {
                            margin-left: 220px;
                        }
                        
                        .foot-dialer {
                            margin-top: 10px;
                            margin-left: 20px;
                        }
                        
                        .foot-number {
                            margin-left: 10px;
                            color: white;
                            font-size: 18px;
                        }
                        
                        .gmail {
                            display: flex;
                        }
                        
                        .gmi {
                            margin-top: 20px;
                            text-transform: none;
                        }
                        
                        .gm {
                            color: white;
                            font-size: 18px;
                            margin-left: 10px;
                        }
                        
                        .fs-2t1 {
                            display: flex;
                            line-height: 0;
                        }
                        
                        .sm1 {
                            color: white;
                            font-size: 20px;
                        }
                        
                        .sm-icons {
                            display: flex;
                        }
                        
                        .smf,
                        .smt,
                        .smy {
                            padding: 10px 10px;
                            border-radius: 40px;
                            background-color: #fd96a1;
                        }
                        
                        .smt,
                        .smy {
                            margin-left: 20px;
                        }
                        
                        .footer-logo {
                            padding-top: 30px;
                            padding-bottom: 10px;
                            width: 280px;
                        }
                        
                        .copy {
                            color: white;
                        }
                        
                        .copy2 {
                            color: #f09fa7;
                        }
                        
                        .copy,
                        .copy2 {
                            font-size: 20px;
                        }
                        
                        .foot-vl {
                            border-left: 3px solid #ffffff;
                            height: 63px;
                        }
                        
                        .foot-privacy {
                            text-transform: capitalize;
                        }
                        
                        .foot-privacy,
                        .foot-terms {
                            color: white;
                            font-size: 20px;
                        }
                        
                        .foot-privacy {
                            margin-left: 980px;
                        }
                        
                        .footer-last {
                            display: flex;
                            margin-top: 80px;
                            margin-left: 120px;
                        }